In [12]:
import time as tm
from datetime import time, timedelta, datetime
import schedule
import pandas as pd
import threading
from tqdm import tqdm
from binance.client import Client

from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import pandas as pd
from joblib import Parallel, delayed
import os
import threading
from tqdm import tqdm
from binance.enums import HistoricalKlinesType

client = Client()

def get_history(client, symbol, interval, start_str, end_str=None):
    """
    Récupère les données historiques pour un ticker donné.
    """
    tm.sleep(0.01)
    return client.get_historical_klines(symbol=symbol, interval=interval, start_str=start_str, end_str=end_str, klines_type=HistoricalKlinesType.FUTURES)

In [63]:
info = client.futures_exchange_info()

symbols = [x['symbol'] for x in info['symbols']]
exclude = ['UP', 'DOWN', 'BEAR', 'BULL']
non_lev = [symbol for symbol in symbols if all(excludes not in symbol for excludes in exclude)]
relevant_symbols = [symbol for symbol in non_lev if symbol.endswith('USDT')]

In [14]:
from concurrent.futures import ThreadPoolExecutor, as_completed
from requests.exceptions import ReadTimeout
from pytz import timezone

def get_performers_past(client, interval, start_date, end_date, n=1, worst=True, future=True):
    """
    Identifie les meilleurs ou pires performeurs dans chaque plage horaire.
    """
    paris_tz = timezone('Europe/Paris')
    if future : 
        info = client.futures_exchange_info()
    else: 
        info = client.get_exchange_info()
        
    symbols = [x['symbol'] for x in info['symbols']]
    exclude = ['UP', 'DOWN', 'BEAR', 'BULL']
    non_lev = [symbol for symbol in symbols if all(excludes not in symbol for excludes in exclude)]
    relevant_symbols = [symbol for symbol in non_lev if symbol.endswith('USDT')]

    all_results = []
    date_range = []
    current_time = start_date
    while current_time < end_date:
        date_range.append(current_time)
        current_time += timedelta(hours=1)
        
    print(f"start : {start_date}, end : {end_date}")
    print("Nombre de plage d'heure", len(date_range))

    for current_time in date_range : 
        print("Processing time range:", current_time, "to", current_time + timedelta(hours=1))
        next_time = current_time + timedelta(hours=1)

        # Initialisation des listes pour cette période
        returns, selected_symbols, dates = [], [], []
        klines_data = [None] * len(relevant_symbols)

        def _helper(klines_data, i):
            try:
                klines_data[i] = get_history(
                    client, relevant_symbols[i], interval,
                    start_str=current_time.strftime("%Y-%m-%d %H:%M:%S"),
                    end_str=next_time.strftime("%Y-%m-%d %H:%M:%S")
                )
            except ReadTimeout:
                print(f"Timeout for {relevant_symbols[i]} during {current_time} -> {next_time}. Retrying...")
            except Exception:
                pass

        threads = [threading.Thread(target=_helper, args=(klines_data, i)) for i in range(len(relevant_symbols))]
        for thread in threads:
            thread.start()
        for thread in tqdm(threads, desc=f"Processing {current_time} -> {next_time}"):
            thread.join()

        # Calculer les rendements
        for i, klines in enumerate(klines_data):
                # print(f"{relevant_symbols[i]}: {len(klines) if klines else 0} klines retrieved.")
            if relevant_symbols[i] == 'BTTCUSDT':  
                continue
            if klines and len(klines) > 0:
                df = pd.DataFrame(klines)
                df_close_prices = df[4].astype(float)  # Prix de clôture
                cumret = (df_close_prices.pct_change() + 1).prod() - 1

                # start_date = pd.to_datetime(df.iloc[0, 0], unit='ms')
                # end_date = pd.to_datetime(df.iloc[-1, 0], unit='ms')

                #to have paris timezone
                start_date = pd.to_datetime(df.iloc[0, 0], unit='ms').tz_localize('UTC').tz_convert(paris_tz)
                end_date = pd.to_datetime(df.iloc[-1, 0], unit='ms').tz_localize('UTC').tz_convert(paris_tz)



                returns.append(cumret)
                selected_symbols.append(relevant_symbols[i])
                dates.append((start_date, end_date))

        retdf = pd.DataFrame({
            'ret': returns,
            'start_date': [d[0] for d in dates],
            'end_date': [d[1] for d in dates]
        }, index=selected_symbols)

        if not retdf.empty:
            if worst:
                result = retdf.nsmallest(n, 'ret')
            else:
                result = retdf.nlargest(n, 'ret')

            result['start_period'] = current_time
            result['end_period'] = next_time
            all_results.append(result)
        else:
            print("WARNING -- df EMPTY")

        current_time = next_time
        # print("Finished processing:", current_time)

    return pd.concat(all_results).reset_index()

In [15]:
from datetime import datetime
import time as tm
from dateutil.relativedelta import relativedelta

end_date = datetime(2024, 12, 21, 11)
start_date = end_date - relativedelta(hours=3)


print(start_date)
print(end_date)

diff_in_seconds = int((end_date - start_date).total_seconds())
diff_in_hours = diff_in_seconds // 3600
print(diff_in_hours)

2024-12-21 08:00:00
2024-12-21 11:00:00
3

In [20]:
start_time = tm.time()
df_1h = get_performers_past(
    client=client,
    interval='1h', 
    start_date=start_date,
    end_date=end_date,
    n=1,  
    worst=True,  
    future=True  
)
print("Temps d'execution : ", start_time - tm.time())

start : 2024-12-21 08:00:00, end : 2024-12-21 11:00:00
Nombre de plage d'heure 3
Processing time range: 2024-12-21 08:00:00 to 2024-12-21 09:00:00

Processing 2024-12-21 08:00:00 -> 2024-12-21 09:00:00: 100%|██████████| 364/364 [00:12<00:00, 28.58it/s]

Timeout for POWRUSDT during 2024-12-21 08:00:00 -> 2024-12-21 09:00:00. Retrying...

Processing time range: 2024-12-21 09:00:00 to 2024-12-21 10:00:00

Processing 2024-12-21 09:00:00 -> 2024-12-21 10:00:00: 100%|██████████| 364/364 [00:12<00:00, 29.97it/s]

Processing time range: 2024-12-21 10:00:00 to 2024-12-21 11:00:00

Processing 2024-12-21 10:00:00 -> 2024-12-21 11:00:00:   9%|▉         | 34/364 [00:10<01:04,  5.13it/s]

Timeout for PHBUSDT during 2024-12-21 10:00:00 -> 2024-12-21 11:00:00. Retrying...
Timeout for FXSUSDT during 2024-12-21 10:00:00 -> 2024-12-21 11:00:00. Retrying...

Processing 2024-12-21 10:00:00 -> 2024-12-21 11:00:00:  31%|███       | 113/364 [00:12<00:12, 19.62it/s]

Timeout for CELOUSDT during 2024-12-21 10:00:00 -> 2024-12-21 11:00:00. Retrying...
Timeout for STEEMUSDT during 2024-12-21 10:00:00 -> 2024-12-21 11:00:00. Retrying...

Processing 2024-12-21 10:00:00 -> 2024-12-21 11:00:00: 100%|██████████| 364/364 [00:16<00:00, 22.29it/s]

Timeout for POWRUSDT during 2024-12-21 10:00:00 -> 2024-12-21 11:00:00. Retrying...

Temps d'execution :  -45.36068344116211

In [18]:

df_5min = df_normal

In [21]:
df_1h

,index,ret,start_date,end_date,start_period,end_period
0,USUALUSDT,-0.053970,2024-12-21 09:00:00+01:00,2024-12-21 10:00:00+01:00,2024-12-21 08:00:00,2024-12-21 09:00:00
1,MOVEUSDT,-0.025351,2024-12-21 10:00:00+01:00,2024-12-21 11:00:00+01:00,2024-12-21 09:00:00,2024-12-21 10:00:00
2,USUALUSDT,-0.059198,2024-12-21 11:00:00+01:00,2024-12-21 12:00:00+01:00,2024-12-21 10:00:00,2024-12-21 11:00:00

In [19]:
df_5min

,index,ret,start_date,end_date,start_period,end_period
0,AVAUSDT,-0.047434,2024-12-21 09:00:00+01:00,2024-12-21 10:00:00+01:00,2024-12-21 08:00:00,2024-12-21 09:00:00
1,USUALUSDT,-0.044468,2024-12-21 10:00:00+01:00,2024-12-21 11:00:00+01:00,2024-12-21 09:00:00,2024-12-21 10:00:00
2,MOVEUSDT,-0.030490,2024-12-21 11:00:00+01:00,2024-12-21 12:00:00+01:00,2024-12-21 10:00:00,2024-12-21 11:00:00

In [ ]:
move= get_history(client, "MOVEUSDT", '5m', start_str, end_str=None):

In [7]:
if len(df_normal) == diff_in_hours : 
    print("bon nombre de performers récuperer")
else :
    print(diff_in_hours - len(df_normal) , "manquantes" )
df_normal

bon nombre de performers récuperer

,index,ret,start_date,end_date,start_period,end_period
0,VELODROMEUSDT,-0.050465,2024-12-21 09:00:00+01:00,2024-12-21 10:00:00+01:00,2024-12-21 08:00:00,2024-12-21 09:00:00
1,USUALUSDT,-0.044299,2024-12-21 10:00:00+01:00,2024-12-21 11:00:00+01:00,2024-12-21 09:00:00,2024-12-21 10:00:00
2,MOVEUSDT,-0.030609,2024-12-21 11:00:00+01:00,2024-12-21 12:00:00+01:00,2024-12-21 10:00:00,2024-12-21 11:00:00

### Debug

In [65]:
relevant_symbols_test = relevant_symbols
print("Nombre de symbols de test", len(relevant_symbols_test) ) 
time_st = datetime(2024, 12, 21, 9)
time_end = time_st + timedelta(hours=3)

Nombre de symbols de test 364

### Multithreading Method

In [66]:
import time
start=  time.time()

def _helper(klines_data, symbols, i, time_start, time_end, interval):
    try:
        klines_data[i] = get_history(
            client, symbols[i], interval,
            start_str=time_start.strftime("%Y-%m-%d %H:%M:%S"),
            end_str=time_end.strftime("%Y-%m-%d %H:%M:%S")
        )
    except ReadTimeout:
        print(f"Timeout for {symbols[i]} during {time_start} -> {time_end}. Retrying...")
    except Exception:
        pass

klines_data_test = [None] * len(relevant_symbols_test)
threads = [threading.Thread(target=_helper, args=(klines_data_test, relevant_symbols_test, i, time_st, time_end, '5m' )) for i in range(len(relevant_symbols_test))]

for thread in threads:
    thread.start()
for thread in tqdm(threads, desc=f"Processing {time_st} -> {time_end}"):
    thread.join()
print("Temps", time.time() - start)

Processing 2024-12-21 09:00:00 -> 2024-12-21 12:00:00: 100%|██████████| 364/364 [00:12<00:00, 29.50it/s]

Temps 13.304525375366211

### joblib method faster

In [70]:
start = time.time()

def fetch_data(symbol, time_start, time_end, interval):
    try:
        data =  get_history(
            client, symbol, interval,
            start_str=time_start.strftime("%Y-%m-%d %H:%M:%S"),
            end_str=time_end.strftime("%Y-%m-%d %H:%M:%S")
        )
        if not data:
            return symbol, None
        df = pd.DataFrame(
            data, columns=["open time", "open", "high", "low", "close", "volume", "closing time", "quote asset volume", "nb trades", "tbav", "tbqav", "ignore"] )
        
        df["open time"] = pd.to_datetime(df["open time"], unit="ms").dt.round("min")
        df["closing time"] = pd.to_datetime(df["closing time"], unit="ms").dt.round("min")
        df["close"] = df["close"].astype(float)
        df["ret"] = df["close"].pct_change()
        df["cumret"] = (1 + df["ret"]).cumprod() - 1
        return symbol, df

    except ReadTimeout:
        print(f"Timeout for {symbol} during {time_start} -> {time_end}. Retrying...")
        return None
    
    except Exception as e:
        print(f"Error for {symbol}: {e}")
        return symbol, None

results = Parallel(n_jobs=-1, backend="threading")(
    delayed(fetch_data)(symbol, time_st, time_end, '5m') for symbol in tqdm(relevant_symbols_test, desc="Downloading data")
)

print(f"Time taken: {time.time() - start:.2f} seconds")

Downloading data:  35%|███▌      | 128/364 [00:02<00:04, 55.55it/s]

Error for BTCSTUSDT: APIError(code=-1122): Invalid symbol status.

Downloading data: 100%|██████████| 364/364 [00:06<00:00, 57.80it/s]

Time taken: 8.43 seconds

In [79]:
results[0][0]

'BTCUSDT'

### En passant en paramètre 10h, 13h sur des bougies 5 min 
Le return cumulatif va etre calculé entre le close de 10h5 et le close de 13h5

In [55]:
df_btc = pd.DataFrame(klines_data_test[0], columns=["open time", "open", "high", "low", "close", 'volume', 'closing time', 'quote asset volume', 'nb trades', 'tbav', 'tbqav', 'ignore'])
df_btc["open time"] = pd.to_datetime(df_btc['open time'], unit='ms').dt.round("min")
df_btc["closing time"]  = pd.to_datetime(df_btc['closing time'], unit='ms').dt.round("min")

df_btc["close"] = df_btc["close"].astype(float)
df_btc["ret"] = df_btc["close"].pct_change()
df_btc["cumret"] = (1 + df_btc["ret"]).cumprod() - 1

# df_btc["cumret"] = (df_btc["close"].astype(float).pct_change() + 1).prod() - 1

df_btc[["open time", "closing time", "open", "close", "ret", "cumret"]]

,open time,closing time,open,close,ret,cumret
0,2024-12-21 09:00:00,2024-12-21 09:05:00,98601.70,98485.2,NaN,NaN
1,2024-12-21 09:05:00,2024-12-21 09:10:00,98485.10,98316.6,-0.001712,-0.001712
2,2024-12-21 09:10:00,2024-12-21 09:15:00,98316.50,98443.2,0.001288,-0.000426
3,2024-12-21 09:15:00,2024-12-21 09:20:00,98443.40,98300.0,-0.001455,-0.001880
4,2024-12-21 09:20:00,2024-12-21 09:25:00,98300.00,98300.1,0.000001,-0.001879
5,2024-12-21 09:25:00,2024-12-21 09:30:00,98300.10,98412.7,0.001145,-0.000736
6,2024-12-21 09:30:00,2024-12-21 09:35:00,98412.70,98471.7,0.000600,-0.000137
7,2024-12-21 09:35:00,2024-12-21 09:40:00,98471.60,98486.0,0.000145,0.000008
8,2024-12-21 09:40:00,2024-12-21 09:45:00,98486.00,98353.4,-0.001346,-0.001338
9,2024-12-21 09:45:00,2024-12-21 09:50:00,98353.50,98432.2,0.000801,-0.000538
10,2024-12-21 09:50:00,2024-12-21 09:55:00,98432.20,98532.1,0.001015,0.000476
11,2024-12-21 09:55:00,2024-12-21 10:00:00,98532.10,98514.7,-0.000177,0.000300
12,2024-12-21 10:00:00,2024-12-21 10:05:00,98514.70,98536.3,0.000219,0.000519
13,2024-12-21 10:05:00,2024-12-21 10:10:00,98536.40,98482.9,-0.000542,-0.000023
14,2024-12-21 10:10:00,2024-12-21 10:15:00,98483.00,98536.1,0.000540,0.000517
15,2024-12-21 10:15:00,2024-12-21 10:20:00,98536.10,98483.0,-0.000539,-0.000022
16,2024-12-21 10:20:00,2024-12-21 10:25:00,98483.10,98381.1,-0.001035,-0.001057
17,2024-12-21 10:25:00,2024-12-21 10:30:00,98381.20,98510.6,0.001316,0.000258
18,2024-12-21 10:30:00,2024-12-21 10:35:00,98510.70,98355.5,-0.001574,-0.001317
19,2024-12-21 10:35:00,2024-12-21 10:40:00,98355.50,98180.6,-0.001778,-0.003093
20,2024-12-21 10:40:00,2024-12-21 10:45:00,98180.60,98199.5,0.000193,-0.002901
21,2024-12-21 10:45:00,2024-12-21 10:50:00,98199.60,98153.8,-0.000465,-0.003365
22,2024-12-21 10:50:00,2024-12-21 10:55:00,98153.90,98021.2,-0.001351,-0.004711
23,2024-12-21 10:55:00,2024-12-21 11:00:00,98021.20,98091.9,0.000721,-0.003993
24,2024-12-21 11:00:00,2024-12-21 11:05:00,98091.90,98049.6,-0.000431,-0.004423
25,2024-12-21 11:05:00,2024-12-21 11:10:00,98049.60,98105.7,0.000572,-0.003853
26,2024-12-21 11:10:00,2024-12-21 11:15:00,98106.50,98059.2,-0.000474,-0.004326
27,2024-12-21 11:15:00,2024-12-21 11:20:00,98059.30,98109.9,0.000517,-0.003811
28,2024-12-21 11:20:00,2024-12-21 11:25:00,98109.90,97916.4,-0.001972,-0.005775
29,2024-12-21 11:25:00,2024-12-21 11:30:00,97916.30,97857.5,-0.000602,-0.006374
30,2024-12-21 11:30:00,2024-12-21 11:35:00,97857.60,98050.0,0.001967,-0.004419
31,2024-12-21 11:35:00,2024-12-21 11:40:00,98050.00,98191.7,0.001445,-0.002980
32,2024-12-21 11:40:00,2024-12-21 11:45:00,98191.80,98298.8,0.001091,-0.001893
33,2024-12-21 11:45:00,2024-12-21 11:50:00,98298.80,98160.0,-0.001412,-0.003302
34,2024-12-21 11:50:00,2024-12-21 11:55:00,98160.00,98221.0,0.000621,-0.002683
35,2024-12-21 11:55:00,2024-12-21 12:00:00,98221.40,98225.3,0.000044,-0.002639
36,2024-12-21 12:00:00,2024-12-21 12:05:00,98225.40,98050.1,-0.001784,-0.004418

In [27]:
for i, klines in enumerate(klines_data_test):
            if klines and len(klines) > 0:
                df = pd.DataFrame(klines)
                df_close_prices = df[4].astype(float)  # Prix de clôture
                cumret = (df_close_prices.pct_change() + 1).prod() - 1

                # start_date = pd.to_datetime(df.iloc[0, 0], unit='ms')
                # end_date = pd.to_datetime(df.iloc[-1, 0], unit='ms')

                #to have paris timezone
                start_date = pd.to_datetime(df.iloc[0, 0], unit='ms').tz_localize('UTC').tz_convert(paris_tz)
                end_date = pd.to_datetime(df.iloc[-1, 0], unit='ms').tz_localize('UTC').tz_convert(paris_tz)



                returns.append(cumret)
                selected_symbols.append(relevant_symbols[i])
                dates.append((start_date, end_date))

        retdf = pd.DataFrame({
            'ret': returns,
            'start_date': [d[0] for d in dates],
            'end_date': [d[1] for d in dates]
        }, index=selected_symbols)

        if not retdf.empty:
            if worst:
                result = retdf.nsmallest(n, 'ret')
            else:
                result = retdf.nlargest(n, 'ret')

            result['start_period'] = current_time
            result['end_period'] = next_time
            all_results.append(result)
        else:
            print("WARNING -- df EMPTY")

[[[1734771600000,
   '98601.70',
   '98644.00',
   '98360.70',
   '98485.20',
   '559.464',
   1734771899999,
   '55093800.50740',
   12304,
   '222.268',
   '21887921.73800',
   '0'],
  [1734771900000,
   '98485.10',
   '98485.20',
   '98298.40',
   '98316.60',
   '701.628',
   1734772199999,
   '69010949.81480',
   13061,
   '248.000',
   '24392712.55000',
   '0'],
  [1734772200000,
   '98316.50',
   '98507.20',
   '98300.00',
   '98443.20',
   '626.721',
   1734772499999,
   '61674055.65220',
   11413,
   '376.242',
   '37026943.91760',
   '0'],
  [1734772500000,
   '98443.40',
   '98507.30',
   '98300.00',
   '98300.00',
   '481.330',
   1734772799999,
   '47361397.65770',
   9375,
   '154.222',
   '15182875.45380',
   '0'],
  [1734772800000,
   '98300.00',
   '98400.00',
   '98300.00',
   '98300.10',
   '353.462',
   1734773099999,
   '34753829.70930',
   7269,
   '116.428',
   '11448623.37230',
   '0'],
  [1734773100000,
   '98300.10',
   '98452.50',
   '98300.00',
   '98412.70',
   '370.210',
   1734773399999,
   '36421838.59390',
   6803,
   '239.951',
   '23608706.73130',
   '0'],
  [1734773400000,
   '98412.70',
   '98471.70',
   '98356.60',
   '98471.70',
   '253.980',
   1734773699999,
   '24997854.34020',
   6814,
   '125.860',
   '12387969.67560',
   '0'],
  [1734773700000,
   '98471.60',
   '98541.50',
   '98428.70',
   '98486.00',
   '417.039',
   1734773999999,
   '41073649.42170',
   8423,
   '262.438',
   '25847523.59120',
   '0'],
  [1734774000000,
   '98486.00',
   '98486.00',
   '98301.30',
   '98353.40',
   '331.393',
   1734774299999,
   '32598809.27540',
   7536,
   '126.773',
   '12469761.01970',
   '0'],
  [1734774300000,
   '98353.50',
   '98440.20',
   '98250.00',
   '98432.20',
   '353.098',
   1734774599999,
   '34718050.89740',
   9891,
   '159.643',
   '15698647.20580',
   '0'],
  [1734774600000,
   '98432.20',
   '98570.80',
   '98419.60',
   '98532.10',
   '379.281',
   1734774899999,
   '37361704.52010',
   8113,
   '235.745',
   '23221668.25470',
   '0'],
  [1734774900000,
   '98532.10',
   '98570.80',
   '98477.10',
   '98514.70',
   '245.115',
   1734775199999,
   '24148358.87510',
   5609,
   '119.005',
   '11724053.21730',
   '0'],
  [1734775200000,
   '98514.70',
   '98562.90',
   '98445.80',
   '98536.30',
   '441.420',
   1734775499999,
   '43484392.71670',
   9060,
   '248.340',
   '24465478.60680',
   '0'],
  [1734775500000,
   '98536.40',
   '98536.40',
   '98375.00',
   '98482.90',
   '258.383',
   1734775799999,
   '25437629.88250',
   7562,
   '92.640',
   '9119842.56210',
   '0'],
  [1734775800000,
   '98483.00',
   '98598.00',
   '98456.60',
   '98536.10',
   '356.253',
   1734776099999,
   '35109182.30310',
   8154,
   '241.860',
   '23835744.98060',
   '0'],
  [1734776100000,
   '98536.10',
   '98597.90',
   '98469.70',
   '98483.00',
   '326.219',
   1734776399999,
   '32142917.14350',
   7742,
   '134.173',
   '13221172.82970',
   '0'],
  [1734776400000,
   '98483.10',
   '98483.10',
   '98358.30',
   '98381.10',
   '383.725',
   1734776699999,
   '37762869.65530',
   7453,
   '158.425',
   '15590335.56350',
   '0'],
  [1734776700000,
   '98381.20',
   '98514.60',
   '98350.00',
   '98510.60',
   '305.371',
   1734776999999,
   '30063623.60660',
   6842,
   '143.763',
   '14152977.77200',
   '0'],
  [1734777000000,
   '98510.70',
   '98523.70',
   '98313.60',
   '98355.50',
   '367.335',
   1734777299999,
   '36147177.92280',
   7593,
   '170.545',
   '16780272.12310',
   '0'],
  [1734777300000,
   '98355.50',
   '98355.50',
   '98100.10',
   '98180.60',
   '1055.471',
   1734777599999,
   '103626103.60330',
   17504,
   '395.465',
   '38821335.23210',
   '0'],
  [1734777600000,
   '98180.60',
   '98248.30',
   '98135.80',
   '98199.50',
   '543.090',
   1734777899999,
   '53326496.86880',
   10713,
   '296.777',
   '29140631.19500',
   '0'],
  [1734777900000,
   '98199.60',
   '98237.20',
   '98100.00',
   '98153.80',
   '528.246',
   1734778199999,
   '51854524.93860',
   10382,
   '254.826',
   '25015173.06700',
   '0'],
  [1734778200000,
   '98153.90',
   '98213.00',
   '98005.00',
   '98021.20',
   '631.751',
   1734778499999,
   '61968816.58720',
   10691,
   '251.752',
   '24695259.51220',
   '0'],
  [1734778500000,
   '98021.20',
   '98111.30',
   '98011.00',
   '98091.90',
   '457.868',
   1734778799999,
   '44901293.55530',
   8990,
   '244.663',
   '23993082.53430',
   '0'],
  [1734778800000,
   '98091.90',
   '98185.00',
   '98044.80',
   '98049.60',
   '474.391',
   1734779099999,
   '46553710.82960',
   10079,
   '249.823',
   '24517066.26420',
   '0'],
  [1734779100000,
   '98049.60',
   '98182.00',
   '98020.20',
   '98105.70',
   '345.256',
   1734779399999,
   '33865232.03490',
   7415,
   '204.066',
   '20016871.02400',
   '0'],
  [1734779400000,
   '98106.50',
   '98165.00',
   '98046.10',
   '98059.20',
   '188.333',
   1734779699999,
   '18475238.41480',
   6055,
   '99.551',
   '9766279.89940',
   '0'],
  [1734779700000,
   '98059.30',
   '98186.40',
   '98059.20',
   '98109.90',
   '231.264',
   1734779999999,
   '22693736.67690',
   7353,
   '107.188',
   '10518829.29860',
   '0'],
  [1734780000000,
   '98109.90',
   '98181.60',
   '97900.10',
   '97916.40',
   '607.966',
   1734780299999,
   '59581227.72840',
   13555,
   '221.080',
   '21668335.21590',
   '0'],
  [1734780300000,
   '97916.30',
   '97925.00',
   '97757.80',
   '97857.50',
   '1239.062',
   1734780599999,
   '121209975.22110',
   20937,
   '535.092',
   '52340387.40270',
   '0'],
  [1734780600000,
   '97857.60',
   '98140.80',
   '97785.20',
   '98050.00',
   '1130.875',
   1734780899999,
   '110815189.42310',
   20952,
   '801.770',
   '78567165.02680',
   '0'],
  [1734780900000,
   '98050.00',
   '98277.80',
   '98036.40',
   '98191.70',
   '834.057',
   1734781199999,
   '81903690.96910',
   13553,
   '487.598',
   '47877977.78540',
   '0'],
  [1734781200000,
   '98191.80',
   '98299.00',
   '98170.00',
   '98298.80',
   '612.632',
   1734781499999,
   '60193130.88990',
   10147,
   '454.595',
   '44665102.70250',
   '0'],
  [1734781500000,
   '98298.80',
   '98398.10',
   '98120.00',
   '98147.80',
   '624.601',
   1734781799999,
   '61377385.66310',
   10869,
   '302.867',
   '29768102.09530',
   '0']],
 [[1734771600000,
   '3483.44',
   '3488.00',
   '3471.45',
   '3480.26',
   '14735.048',
   1734771899999,
   '51245464.58018',
   22856,
   '6090.228',
   '21185246.17543',
   '0'],
  [1734771900000,
   '3480.26',
   '3480.61',
   '3462.04',
   '3463.49',
   '35257.572',
   1734772199999,
   '122315859.20505',
   34816,
   '11537.823',
   '40015428.00265',
   '0'],
  [1734772200000,
   '3463.49',
   '3472.31',
   '3461.00',
   '3466.38',
   '13977.264',
   1734772499999,
   '48445053.74073',
   20772,
   '7811.727',
   '27079637.50690',
   '0'],
  [1734772500000,
   '3466.39',
   '3469.30',
   '3457.36',
   '3457.89',
   '14678.334',
   1734772799999,
   '50835906.50068',
   22180,
   '6401.643',
   '22180271.18574',
   '0'],
  [1734772800000,
   '3457.88',
   '3463.81',
   '3456.01',
   '3459.51',
   '11794.824',
   1734773099999,
   '40797084.87506',
   19718,
   '5904.292',
   '20424031.69089',
   '0'],
  [1734773100000,
   '3459.51',
   '3470.91',
   '3459.51',
   '3468.78',
   '9710.677',
   1734773399999,
   '33649576.85265',
   15531,
   '6745.520',
   '23374907.07977',
   '0'],
  [1734773400000,
   '3468.78',
   '3473.87',
   '3464.00',
   '3473.29',
   '14411.604',
   1734773699999,
   '50007958.15334',
   21203,
   '7274.176',
   '25239593.05659',
   '0'],
  [1734773700000,
   '3473.24',
   '3476.55',
   '3469.00',
   '3475.09',
   '12154.737',
   1734773999999,
   '42219471.05596',
   18250,
   '6299.887',
   '21882287.04579',
   '0'],
  [1734774000000,
   '3475.09',
   '3476.84',
   '3468.55',
   '3470.82',
   '8372.287',
   1734774299999,
   '29080180.26725',
   13312,
   '4493.114',
   '15609762.46459',
   '0'],
  [1734774300000,
   '3470.82',
   '3475.57',
   '3463.90',
   '3475.30',
   '9854.917',
   1734774599999,
   '34186132.19888',
   17397,
   '4683.768',
   '16252705.55745',
   '0'],
  [1734774600000,
   '3475.24',
   '3480.93',
   '3475.23',
   '3478.30',
   '13516.326',
   1734774899999,
   '47018904.03464',
   16415,
   '8255.964',
   '28719644.42757',
   '0'],
  [1734774900000,
   '3478.30',
   '3482.33',
   '3475.00',
   '3480.92',
   '4709.590',
   1734775199999,
   '16385013.22610',
   10080,
   '2831.081',
   '9850756.94510',
   '0'],
  [1734775200000,
   '3480.92',
   '3484.93',
   '3477.16',
   '3483.31',
   '7137.274',
   1734775499999,
   '24851511.35178',
   14416,
   '4106.870',
   '14300031.10076',
   '0'],
  [1734775500000,
   '3483.30',
   '3483.31',
   '3471.23',
   '3476.82',
   '5638.617',
   1734775799999,
   '19598402.04241',
   15474,
   '1835.971',
   '6381829.60604',
   '0'],
  [1734775800000,
   '3476.82',
   '3485.45',
   '3474.99',
   '3482.91',
   '6708.075',
   1734776099999,
   '23362319.75004',
   14584,
   '4002.637',
   '13939822.83833',
   '0'],
  [1734776100000,
   '3482.91',
   '3485.56',
   '3480.00',
   '3484.01',
   '4806.658',
   1734776399999,
   '16741882.00196',
   12378,
   '2407.438',
   '8385325.10579',
   '0'],
  [1734776400000,
   '3484.01',
   '3487.70',
   '3480.48',
   '3483.45',
   '5169.322',
   1734776699999,
   '18011290.31491',
   11943,
   '2902.568',
   '10113614.65267',
   '0'],
  [1734776700000,
   '3483.45',
   '3496.44',
   '3481.40',
   '3495.19',
   '9539.665',
   1734776999999,
   '33305186.12567',
   17075,
   '6576.233',
   '22960773.17343',
   '0'],
  [1734777000000,
   '3495.19',
   '3495.93',
   '3483.32',
   '3486.58',
   '6615.854',
   1734777299999,
   '23085174.77213',
   15363,
   '2169.399',
   '7571496.12921',
   '0'],
  [1734777300000,
   '3486.58',
   '3486.58',
   '3456.40',
   '3465.29',
   '46972.027',
   1734777599999,
   '162923966.85129',
   35710,
   '17961.809',
   '62276099.04930',
   '0'],
  [1734777600000,
   '3465.29',
   '3468.59',
   '3453.52',
   '3460.18',
   '20227.198',
   1734777899999,
   '69983828.33152',
   27183,
   '8082.551',
   '27964065.64734',
   '0'],
  [1734777900000,
   '3460.17',
   '3470.00',
   '3456.19',
   '3467.48',
   '10122.166',
   1734778199999,
   '35055621.69776',
   19264,
   '5378.738',
   '18631258.63487',
   '0'],
  [1734778200000,
   '3467.48',
   '3469.36',
   '3458.60',
   '3459.88',
   '6189.759',
   1734778499999,
   '21443187.08720',
   13207,
   '1548.124',
   '5364988.48132',
   '0'],
  [1734778500000,
   '3459.88',
   '3465.46',
   '3457.60',
   '3464.71',
   '9054.956',
   1734778799999,
   '31333795.67053',
   10024,
   '5921.212',
   '20491125.32803',
   '0'],
  [1734778800000,
   '3464.71',
   '3469.50',
   '3461.66',
   '3461.66',
   '7295.560',
   1734779099999,
   '25284209.19171',
   14431,
   '3364.797',
   '11661769.38935',
   '0'],
  [1734779100000,
   '3461.66',
   '3469.50',
   '3459.43',
   '3466.18',
   '4606.451',
   1734779399999,
   '15956027.16903',
   12702,
   '2245.094',
   '7777715.42161',
   '0'],
  [1734779400000,
   '3466.18',
   '3467.78',
   '3459.43',
   '3462.25',
   '3592.238',
   1734779699999,
   '12439948.98068',
   10621,
   '1584.198',
   '5486511.04243',
   '0'],
  [1734779700000,
   '3462.25',
   '3465.15',
   '3457.53',
   '3457.70',
   '4719.740',
   1734779999999,
   '16334513.54085',
   12966,
   '1805.057',
   '6247514.40498',
   '0'],
  [1734780000000,
   '3457.71',
   '3460.60',
   '3443.52',
   '3445.98',
   '28685.708',
   1734780299999,
   '98952435.70428',
   31233,
   '10623.830',
   '36653191.15731',
   '0'],
  [1734780300000,
   '3445.97',
   '3445.97',
   '3425.01',
   '3431.44',
   '48494.793',
   1734780599999,
   '166550385.78553',
   47692,
   '18699.318',
   '64216579.92190',
   '0'],
  [1734780600000,
   '3431.44',
   '3443.78',
   '3422.06',
   '3440.89',
   '31981.533',
   1734780899999,
   '109812901.97764',
   38251,
   '18335.801',
   '62980255.27265',
   '0'],
  [1734780900000,
   '3440.90',
   '3451.80',
   '3437.00',
   '3443.79',
   '14865.176',
   1734781199999,
   '51205352.51107',
   25993,
   '8183.227',
   '28189824.44801',
   '0'],
  [1734781200000,
   '3443.79',
   '3449.78',
   '3442.47',
   '3445.80',
   '7080.415',
   1734781499999,
   '24400738.73809',
   14833,
   '4351.734',
   '14998178.60248',
   '0'],
  [1734781500000,
   '3445.80',
   '3451.91',
   '3436.73',
   '3437.25',
   '14336.264',
   1734781799999,
   '49400765.15583',
   19599,
   '6504.303',
   '22423769.84614',
   '0']],
 [[1734771600000,
   '7.500',
   '7.526',
   '7.457',
   '7.484',
   '238359.3',
   1734771899999,
   '1784826.7079',
   5725,
   '68745.9',
   '514703.6920',
   '0'],
  [1734771900000,
   '7.483',
   '7.483',
   '7.433',
   '7.436',
   '189264.7',
   1734772199999,
   '1409946.3668',
   4591,
   '79837.5',
   '594683.5177',
   '0'],
  [1734772200000,
   '7.437',
   '7.492',
   '7.431',
   '7.457',
   '263330.9',
   1734772499999,
   '1965611.7172',
   5470,
   '155159.7',
   '1158960.7566',
   '0'],
  [1734772500000,
   '7.457',
   '7.468',
   '7.407',
   '7.407',
   '222047.6',
   1734772799999,
   '1650832.9377',
   5281,
   '81773.5',
   '608190.3434',
   '0'],
  [1734772800000,
   '7.408',
   '7.447',
   '7.408',
   '7.435',
   '109135.8',
   1734773099999,
   '810755.2127',
   3480,
   '59550.4',
   '442419.4726',
   '0'],
  [1734773100000,
   '7.436',
   '7.471',
   '7.434',
   '7.465',
   '130007.3',
   1734773399999,
   '968705.1019',
   3482,
   '78242.3',
   '583087.3973',
   '0'],
  [1734773400000,
   '7.465',
   '7.532',
   '7.447',
   '7.522',
   '506745.0',
   1734773699999,
   '3801224.5092',
   8714,
   '345029.0',
   '2587504.2189',
   '0'],
  [1734773700000,
   '7.522',
   '7.538',
   '7.501',
   '7.515',
   '142345.1',
   1734773999999,
   '1069805.4679',
   4551,
   '89519.4',
   '672928.9684',
   '0'],
  [1734774000000,
   '7.515',
   '7.519',
   '7.494',
   '7.509',
   '100046.2',
   1734774299999,
   '751175.9520',
   3510,
   '60086.5',
   '451167.5007',
   '0'],
  [1734774300000,
   '7.509',
   '7.526',
   '7.474',
   '7.526',
   '92552.5',
   1734774599999,
   '693940.0452',
   3744,
   '45468.4',
   '340859.2781',
   '0'],
  [1734774600000,
   '7.525',
   '7.554',
   '7.523',
   '7.536',
   '139553.8',
   1734774899999,
   '1052004.3433',
   3315,
   '81947.3',
   '617857.1951',
   '0'],
  [1734774900000,
   '7.536',
   '7.541',
   '7.514',
   '7.531',
   '64523.1',
   1734775199999,
   '485607.0745',
   2028,
   '37036.4',
   '278732.5221',
   '0'],
  [1734775200000,
   '7.531',
   '7.544',
   '7.520',
   '7.535',
   '94008.5',
   1734775499999,
   '708067.3894',
   3123,
   '63163.5',
   '475759.8271',
   '0'],
  [1734775500000,
   '7.536',
   '7.536',
   '7.510',
   '7.521',
   '132127.5',
   1734775799999,
   '993405.8252',
   3104,
   '67646.4',
   '508670.0506',
   '0'],
  [1734775800000,
   '7.520',
   '7.559',
   '7.517',
   '7.549',
   '103184.8',
   1734776099999,
   '778423.2268',
   3090,
   '67482.5',
   '509134.5557',
   '0'],
  [1734776100000,
   '7.549',
   '7.566',
   '7.530',
   '7.544',
   '107145.1',
   1734776399999,
   '808195.8604',
   3083,
   '53527.1',
   '403853.1243',
   '0'],
  [1734776400000,
   '7.545',
   '7.573',
   '7.539',
   '7.549',
   '163706.9',
   1734776699999,
   '1236586.9931',
   3328,
   '50776.5',
   '383795.6263',
   '0'],
  [1734776700000,
   '7.548',
   '7.602',
   '7.543',
   '7.599',
   '111158.6',
   1734776999999,
   '842142.1870',
   2586,
   '81519.2',
   '617615.8895',
   '0'],
  [1734777000000,
   '7.599',
   '7.601',
   '7.528',
   '7.534',
   '127152.3',
   1734777299999,
   '961395.4685',
   3587,
   '42368.3',
   '320588.2795',
   '0'],
  [1734777300000,
   '7.534',
   '7.534',
   '7.466',
   '7.476',
   '205281.4',
   1734777599999,
   '1538452.9889',
   4333,
   '66751.2',
   '500126.2472',
   '0'],
  [1734777600000,
   '7.477',
   '7.489',
   '7.463',
   '7.471',
   '99532.7',
   1734777899999,
   '744148.9486',
   3217,
   '45709.0',
   '341745.1359',
   '0'],
  [1734777900000,
   '7.470',
   '7.508',
   '7.465',
   '7.498',
   '71937.9',
   1734778199999,
   '538599.6416',
   2876,
   '34775.3',
   '260382.9721',
   '0'],
  [1734778200000,
   '7.499',
   '7.513',
   '7.482',
   '7.485',
   '52668.1',
   1734778499999,
   '394832.6332',
   2616,
   '25649.8',
   '192325.3726',
   '0'],
  [1734778500000,
   '7.485',
   '7.508',
   '7.475',
   '7.503',
   '61892.9',
   1734778799999,
   '463441.8685',
   2135,
   '32258.4',
   '241560.2639',
   '0'],
  [1734778800000,
   '7.504',
   '7.522',
   '7.496',
   '7.496',
   '72214.4',
   1734779099999,
   '542500.7756',
   2876,
   '37380.2',
   '280862.2553',
   '0'],
  [1734779100000,
   '7.495',
   '7.515',
   '7.487',
   '7.502',
   '62200.9',
   1734779399999,
   '466455.4584',
   2542,
   '20872.5',
   '156490.0598',
   '0'],
  [1734779400000,
   '7.502',
   '7.505',
   '7.474',
   '7.491',
   '41804.8',
   1734779699999,
   '313198.0216',
   2060,
   '21221.5',
   '158998.5230',
   '0'],
  [1734779700000,
   '7.491',
   '7.508',
   '7.483',
   '7.490',
   '44930.3',
   1734779999999,
   '336809.5295',
   2402,
   '16092.1',
   '120664.6881',
   '0'],
  [1734780000000,
   '7.491',
   '7.502',
   '7.445',
   '7.449',
   '204493.5',
   1734780299999,
   '1526500.3959',
   3794,
   '54831.7',
   '409534.2920',
   '0'],
  [1734780300000,
   '7.449',
   '7.449',
   '7.384',
   '7.401',
   '341673.9',
   1734780599999,
   '2532513.1677',
   7277,
   '123234.5',
   '913142.6131',
   '0'],
  [1734780600000,
   '7.402',
   '7.441',
   '7.365',
   '7.433',
   '370498.7',
   1734780899999,
   '2741132.8182',
   7636,
   '181636.6',
   '1345191.3435',
   '0'],
  [1734780900000,
   '7.432',
   '7.462',
   '7.417',
   '7.449',
   '162033.1',
   1734781199999,
   '1205658.0422',
   4276,
   '94279.2',
   '701486.8454',
   '0'],
  [1734781200000,
   '7.450',
   '7.476',
   '7.445',
   '7.456',
   '108378.2',
   1734781499999,
   '808741.6900',
   2775,
   '61923.4',
   '462057.9532',
   '0'],
  [1734781500000,
   '7.457',
   '7.484',
   '7.424',
   '7.425',
   '98467.8',
   1734781799999,
   '734330.7299',
   3086,
   '50983.5',
   '380441.5429',
   '0']]]